* {
  box-sizing: content-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: #fff;
  background-color: #222;
}

header {
  display: flex;
  justify-content: space-evenly;
  justify-content: center;
  align-items: center;
}

hr {width: 100%;}

ul {
  list-style: none;
  padding: 0;
}